from dotenv import load_dotenv, find_dotenv
from financial_statement_downloader import download_financial_statement
from langchain.agents import AgentType
from langchain.agents.agent_types import AgentType
from langchain_community.chat_models import ChatOpenAI
from langchain_experimental.agents.agent_toolkits import create_csv_agent
from langchain_openai import ChatOpenAI, OpenAI
from langchain.schema import SystemMessage
from nemoguardrails import RailsConfig, LLMRails
import os
import pandas as pd
import requests
from verifier import NIM_verifier
import warnings